@model IEnumerable<TournamentServiceModel>

<h1>Tournaments</h1>
<br />

<div class="row row-cols-1 row-cols-md-4 g-4">
    @{
        foreach (var tour in Model)
        {
            <div class="col">
                <partial name="_TournamentPartial" model="@tour" />
            </div>
        }
    }
</div>