@model PlayerServiceModel

<body style="display: block">
    <div id="wrapper">
        <section>
            <div id="avatar">
                <img src="@Model.ImageURL" alt="@Model.LastName">
            </div>
            <div class="user-info">
                <div id="main-info">
                    <h1>@Model.FirstName @Model.LastName</h1>
                    <div id="label">NEW</div>
                    <a href="#">Add a bio</a>
                    <hr>
                </div>
                <div id="details">
                    <div id="location"><span class="octicon octicon-location"></span><p>&ensp;Albuquerque</p></div>
                    <div id="mail"><span class="octicon octicon-mail"></span><p><a href="#">&ensp;say.my.name@brbad.com</a></p></div>
                    <div id="joined"><span class="octicon octicon-clock"></span><p>&ensp;Joined on Jan 20, 2008</p></div>
                    <hr>
                </div>
                <div id="git-info">
                    <div class="followers">
                        <span class="digits">10.4k</span><br /><span class="text">Followers</span>
                    </div>
                    <div class="starred">
                        <span class="digits">1</span><br /><span class="text">Starred</span>
                    </div>
                    <div class="following">
                        <span class="digits">5</span><br /><span class="text">Following</span>
                    </div>
                    <hr>
                </div>
            </div>
        </section>
    </div>
</body>
